<p-card style="margin-top: 1px">
  <p-table [value]="movementList">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Naam <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="muscleGroup">Spiergroep <p-sortIcon field="muscleGroup"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movement>
      <tr>
        <td>{{movement.name}}</td>
        <td>{{movement.muscleGroup}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
